@font-face {
  font-family: StarJedi;
  src: url("./StarJedi.ttf");
}

@font-face {
  font-family: StarJediHollow;
  src: url("./StarJediHollow.ttf");
}

@font-face {
  font-family: ITCSerifGothicLight;
  src: url("./ITCSerifGothicLight.ttf");
}

@font-face {
  font-family: ITCSerifGothicRegular;
  src: url("./ITCSerifGothicRegular.ttf");
}

@font-face {
  font-family: ITCSerifGothicBold;
  src: url("./ITCSerifGothicBold.ttf");
}

@font-face {
  font-family: ITCSerifGothicHeavy;
  src: url("./ITCSerifGothicHeavy.ttf");
}

@font-face {
  font-family: ITCSerifGothicOutline;
  src: url("./ITCSerifGothicOutline.otf");
}
