// banana yellow
$banana_yellow: #ffe81f;

// dark side palette
$dark_color_bg: #000000;
$dark_color_1: #670000;
$dark_color_2: #a50000;
$dark_color_3: #e10000;
$dark_color_4: #ff0000;

// light side palette
$light_color_bg: #ffffff;
$light_color_bg: #bff3fb;
$light_color_1: #9cf3ff;
$light_color_2: #4de9ff;
$light_color_3: #00dfff;

// greys
$grey_1: #444444;
$grey_2: #666666;
$grey_3: #999999;
$grey_4: #b3b3b3;
$grey_5: #cbcdcc;
$grey_6: #e6e6e6;
$grey_7: #f2f2f2;
